<!DOCTYPE html>
<html>
  <head>
   <title>welvens careers</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous"
    </head>

    <style>
      #banner{
        height: 360px;
        width: 100%;
        object-fit:cover;
      } 
    </style>
    
  <body>
    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{company_name}} Careers
      </h1>
    <img class="img-fluid" id="banner" scr="https://replit.com/@welnage/careers-website#static/baner.jpeg">
        
    <h2 class="text-center mt-2 mb-4">about welvens</h2>
        
    <p  class="lead"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </p>
        
    <h2 class="text-center mt-2 mb-4">Open Positions</h2>
     <div>
       {% for job in jobs %}
          <div> 
           <div
             style="margin-bottom:16px"><h4 style="color:rgb(120,120,120); margin-bottom:4px">{{job['title']}}</h4>
           </div>

            <div>
              <b>Location</b>:{{job['location']}}
            </div>
            
            {% if 'Salary' in job %}
            <div>
              <b>Salary:</b>{{job['Salary']}}
            </div>
            {% endif %}
            
          </div>
       {% endfor %}
       
     </div>
      
      <div  class="text-center">
    <button class="btn btn-primary btn-lg">Contact Us</button>
      <p mt-2 mb-4> Copyright 2023, welvens </p>
      </div>
  </body>
</html>