

           <div class="border-bottom row"
             style="margin-bottom:16px"><h4 
 style="color:rgb(120,120,120); margin-bottom:4px; padding-bottom:8px">{{job['title']}}</h4>

             <div class="col-10">
                <div>
                  <b>Location</b>:{{job['location']}}
                </div>
                
                {% if 'Salary' in job %}
                <div>
                  <b>Salary:</b>{{job['Salary']}}
                </div>
                {% endif %}
             </div>
             <div class="col-2"> 
            <button type="button" class="btn btn-outline-primary">Apply</button>
             </div>
          </div>